/*--------------
Fonts
---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*--------------
Global Css
---------------*/
:root{
    --main-color: #00ADB5;
    --color-1: #EEEEEE;
    --color-2: #393E46;
    --color-3: #222831;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0,0,0,0.05);
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffffff;
    line-height: 1.5;
}
body.dark{
    background-color: var(--bg-dark);
    --black-100: var(--bg-dark);
    --black-000: var(--bg-dark);
    --main-to-dark-color: var(--bg-dark);
    --dark-to-main-color: var(--main-color);
    --shadow-black-100: var(--shadow-black-300);
    --black-alpha-100: rgba(255,255,255,0.05);
    --black-900: #ffffff;
    --black-400: #bbbbbb;
}

*{
    margin:0;
    padding: 0;
    outline: none!important;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style:none;
}
.btn-1{
    background-color: #ffffff;
    padding: 12px 30px;
    border:none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-1:focus{
    box-shadow: var(--shadow-black-300);
}

.btn-1:hover{
    color: #ffffff;
    background-color: var(--main-color);
}

.btn-2{
    background-color: var(--main-color);
    padding: 12px 30px;
    border:none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
}

.btn-2:focus{
    box-shadow: var(--shadow-black-100);
}

.btn-2:hover{
    color: var(--main-color);
    background-color: #ffffff;
}
@keyframes spin_01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes bounceTop_01{
    0%,100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
}
@keyframes pulse_01{
    0%{
         transform: scale(0.94);
         box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255,255,255,0);
    }
    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
}
@keyframes zoomInOut_01{
    0%{
        translate: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

.section-padding{
    padding:80px 0;

}
.section-title{
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-align: center;
    margin: 0;
}
.section-title h2 span{
     color: var(--main-color);
}
.owl-carousel .owl-dots{
padding: 0 15px;
text-align: center;
margin-top: 20px;
}
.owl-carousel button.owl-dot{
height: 6px;
width: 24px;
background-color: #dddddd;
display: inline-block;
margin: 0 4px;
border-radius: 5px;

}

.owl-carousel button.owl-dot.active{
    background-color: var(--main-color);
}

/*--------------
Preloader
---------------*/

/*--------------
TOP BANNER
---------------*/
/*.banner{
    margin-top: 10px;
}
.searchbar{
    margin-bottom: auto;
    margin-top: 10px;
    height: 45px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 400px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 25px;
    width: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }*/
    
/*--------------
Navbar
---------------*/
.navbar img{
    max-width: 100px;   
    padding: 5px;
}
.navbar .img-3,
.navbar .img-2{
    max-width: 50px;
}
.navbar{
    background-color: transparent;
    padding: 20px;
    transition: all 0.5s ease;
}

.navbar.navbar-shrink{  /*importante-*/
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-color: var(--main-color);
    padding: 10px 0;
}
.navbar > .container{
    padding: 0 15px;
}

.navbar .navbar-brand{
    font-size: 30px;
    color: #ffffff;
    font-weight: 500px;
    text-transform: capitalize;
}
.navbar .nav-item{
margin-left: 40px;
}
.navbar .nav-item .nav-link{
     color: #ffffff;
     text-transform: capitalize;
     font-size: 16px;
     font-weight: 400;
     padding: 5px 0;
     position: relative;
}

.navbar .nav-item .nav-link::before{
content: '';
position: absolute;
left:0;
bottom:0;
right: 0;
height: 1px;
background-color: #ffffff;
transition: all 0.5s ease;
transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}




/*----------------
Home Section----*/
.home{
    min-height: 100vh;
    padding: 150px 0;
    background-color: var(--main-to-dark-color);
    border-radius: 0 0 200px 0;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.home-text h1{
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
    }
    .home-text p{
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
        margin: 0;
        font-weight: 300;
    }
    
    .home .home-btn {
        margin-top: 40px;
        
    }

    .home .btn-1{
        margin: 10px;
        background-color: #ffffff;
        padding: 12px 30px;
        border:none;
        border-radius: 30px;
        color: var(--main-color);
        font-size: 16px;
        text-transform: capitalize;
        transition: all 0.5s ease;
        box-shadow: var(--shadow-black-300);
        font-weight: 500;
    }

    .home .btn-1:focus{
        box-shadow: var(--shadow-black-300);
    }

    .home .btn-1:hover{
        color: #ffffff;
        background-color: var(--main-color);
    }

/*==========================================
  counter Design
==========================================*/
.counter-section{
    padding:2.0rem 0;
  }
  .counter-section h2{
     color: var(--color-2);
  }
  
  .counter-section p{
    color:var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
  }
  .counter-section span{
    color:var(--main-color);
  }
/*==========================================
  Sobre
==========================================*/
.about-section{
    background-color: var(--black-100);
}
.about-section .img-box img{
    border-radius: 50%;
    max-width: 200px; 
    max-height: 200px;
    box-shadow: var(--shadow-black-100);
}
.about-section .sobre-item h3,
.about-section .apoie-item h3{
    text-align: center;
}
.about-section .apoie-item .main-btn,
.about-section .sobre-item .main-btn{
    margin: 10px;
    background-color: #ffffff;
    padding: 12px 30px;
    border:none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.section-title span{
    color: var(--color-1);
}

.about-section .sobre-item .main-btn:hover{
    color: #ffffff;
        background-color: var(--main-color);
}
.about-body .apoie-item,
.about-body .sobre-item{
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 5px;
}
.about-section .card-body{  
    border: none;
}

.about-section .card-body a{  
    color: var(--color-3);

}

.about-section .card-body a:hover{  
    color: var(--main-color);

}

.about-section .card-header{
    border: none;
    background-color: var(--color-2);
    color: var(--color-1);
}
.about-section .card{
    box-shadow: var(--shadow-black-300); 
    margin: 20px 10px;
    border: none;
}
.about-section .card p{
    font-weight: 400;
}
.about-section .card a{
    text-decoration: none;
    cursor: pointer;
}

/*--------------------------------
Noticia
---------------------------------*/

.noticia-item{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--shadow-black-100);
}


.noticia .section-title span{
    color: var(--main-color);
}

.noticia-item a{
    color: var(--main-color);
    cursor: pointer;
    
    
}

.noticia-item a:hover{
    color: var(--main-color);
    text-decoration: none;
    
}

.noticia-item h3{
    font-size: 18px;
    color: var(--black-900);
    font-weight: 500;
    margin: 15px 0 5px;
    
}

.noticia-item span{
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-400);
    
}
.noticia-item .data{
    margin-top: -20px;
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-400);
    
}
.noticia img{
    max-height: 180px;
}

/*--------------------------------
PRODUTOS
---------------------------------*/
.produto .section-title span{
 color: var(--main-color);
}
.produto-body .card{
    box-shadow: var(--shadow-black-100);
    border: none;

}

.card-body a{
   font-weight: 600; 
   align-items: center;
   text-align: center;
   justify-content: center;
   
}

.card-body .btn{
    display: flex;
}
.card-body lord-icon{
    max-width: 150px;
    align-items: center;
}

/*--------------------------------
CONTATOS
---------------------------------*/
.contato .section-title span{
    color: var(--main-color)
}

/*----------------------------
Footer
-----------------------------*/
.footer{
    background-color: var(--main-color);
    color: var(--color-1);
}
.footer .section-title{
       margin-top: 15px;
}
.footer .copyright{
    background-color: var(--color-3);
    color: var(--color-1);
    margin-bottom: -25px;
}

.footer svg{
    color: var(--color-1);

}

.footer img{
    max-width: 150px;
}




/*--------------------------------
Toogle Theme - light and dark mode
---------------------------------*/



/*--------------------------------
Responsive
---------------------------------*/
@media(max-width: 1240px){
    .navbar img{
        max-width: 90px;
    } 
}
@media(max-width: 1200px){
    lord-icon{
        max-width: 200px;
    }
    .noticia-item .data{
        display: block;
        margin-top: 2px;
        padding: 5px;
        text-align: center;
         
     }
     .noticia-item h3{
        text-align: center;
     }
}

@media(max-width: 991px){
}

@media(max-width: 767px){
    
}

@media(max-width: 542px){
    
}


